
<div class="play-container">
    <div class="details">
        <mat-icon>account_circle</mat-icon>
        <div>
            <span class="name">{{ tweet.author.name }}</span><br>
            <span>{{tweet.message}}</span><br>
        </div>
    </div> 
    <footer>
        <div>
            <button mat-raised-button class="likes" [style.color]="likesColor" (click)="clickLike()">
                <mat-icon>thumb_up</mat-icon>
            </button>
            {{tweet.likes.length}}
        </div>
        <button mat-raised-button (click)="openModal()"><mat-icon>comment</mat-icon></button>
        <button mat-raised-button><mat-icon>loop</mat-icon></button>
        <button mat-raised-button><mat-icon>share</mat-icon></button>
    </footer>
    <!-- <div class="addingComment" *ngIf="addingComment">
        <input type="text" [(ngModel)]="comment" placeholder="Write a comment here"><br>
        <button (click) = "addComment()">Comment</button>
    </div>
    <div class="comments" *ngIf="haveComments">
        <ul>
            <li *ngFor="let comment of comments">
                <div class="comment">
                    <div class="user">
                        <mat-icon>account_circle</mat-icon>
                        <span class="name">{{ comment.author }}</span><br>
                    </div>
                    <span class="message">{{comment.message}}</span>
                </div>
            </li>
        </ul>
    </div> -->
</div>