
<div class="play-container">
    <div class="details" routerLink="/home/{{tweet.id}}">
        <mat-icon>account_circle</mat-icon>
        <div class="text">
            <span class="name">{{ tweet.author.name }}</span>
            <span class="date">{{tweet.date | date: 'dd MMM yyyy, h:mm:ss a'}}</span>
            <br>
            <span>{{tweet.message}}</span><br>
        </div>
        <div class="delete">
            <ng-template [ngIf]="isAuthor(tweet)">
                <button mat-raised-button (click)="deleteTweet()"><mat-icon>close</mat-icon></button>
            </ng-template>
        </div>
    </div> 
    <footer>
        <div>
            <button mat-raised-button class="likes" [style.color]="likesColor" (click)="clickLike()">
                <mat-icon>thumb_up</mat-icon>
            </button>
            {{tweet.likes.length}}
        </div>
        <button mat-raised-button (click)="clickComment()"><mat-icon>comment</mat-icon></button>
        <button mat-raised-button><mat-icon>loop</mat-icon></button>
        <button mat-raised-button><mat-icon>share</mat-icon></button>
    </footer>
</div>