<h1>Welcome!</h1>


<ng-template [ngIf]="loginStatus" [ngIfElse]="notLoggedIn">
    <p>You have already logged in. Please log out under the "Accounts" page if you would like to log in as another user.</p>
</ng-template>

<ng-template #notLoggedIn>
    <div class="play-container">
        <p>
            Please enter your username and password <br><br>
            <input type="text" [(ngModel)]="username" (keydown)="resetMessage()"><br>
            <input type="text" [(ngModel)]="password" (keydown)="resetMessage()"><br>
            <button (click) = "login()">LOGIN</button>
            <br><br><strong>{{ loginMessage }}</strong>
        </p>
    </div>
</ng-template>