p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    flex: 3;
    margin: .5em;
    padding: 1em;
}

button {
    flex: 1;
    font-weight: bold;
    background: rgb(94, 236, 229);
    padding: 1em;
    margin: .5em;
    cursor: pointer;
    border-radius: .5em;
}

ul {
    list-style-type: '';
    margin: 0;
    padding: 0;
}