button {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
}

strong {
    color: red;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.account {
    flex: 1
}

.search { 
    flex: 1;
    padding: 1em;
}